
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    -60deg,
    var(--mantine-color-yellow-4) 0%,
    var(--mantine-color-yellow-7) 100%
    /* var("#53377A") 0%,
    var("#53377A") 100% */
  
  background-color: #53377A;
  color: white;
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);
  max-width: 1500px;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.title {
  /* color: var(--mantine-color-white); */
  color: var(--mantine-color-dark-6);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
}

.count {
  margin-top: 20px;
  /* color: var(--mantine-color-white); */
  color: var(--mantine-color-dark-6);
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.description {
  /* color: var(--mantine-color-blue-0); */
  color: var(--mantine-color-dark-6);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: 1px solid var(--mantine-color-blue-3);

    @media (max-width: $mantine-breakpoint-sm) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: 1px solid var(--mantine-color-blue-3);
    }
  }
}

.myTitle {
  font-size: 24px;
  font-weight: 900;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
      font-size: 24px;
  }
}