.root {
    position: relative;
    padding: var(--mantine-spacing-md);
    transition: border-color 150ms ease;
    width: 1000px;
    @media (max-width: $mantine-breakpoint-lg) {
      width: 700px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
      width: 300px;
    }
  
    &[data-checked] {
      /* border-color: var(--mantine-primary-color-filled); */
      border-color: #7950f2;
    }
  
    @mixin hover {
      @mixin light {
        background-color: var(--mantine-color-gray-0);
      }
  
      @mixin dark {
        background-color: var(--mantine-color-dark-6);
      }
    }
  }
  
  .label {
    font-family: var(--mantine-font-family-monospace);
    font-weight: bold;
    font-size: var(--mantine-font-size-md);
    line-height: 1.3;
    color: var(--mantine-color-bright);
  }
  
  .description {
    /* margin-top: 8px; */
    color: var(--mantine-color-dimmed);
    font-size: var(--mantine-font-size-xs);
  }

  .radio_group {
    width: 1000px;
    @media (max-width: $mantine-breakpoint-lg) {
      width: 700px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
      width: 300px;
    }
  }

